
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mojaPredloga.cshtml";
}
<div class="jumbotron">
    <h2>Index</h2>
</div>

<div class="container">
    <div class="row">
        <p>To je v telesu.</p>
    </div>
</div>
@section footer1{
        <p>To je noga strani.</p>  
<!--home controllerju smo dodali nov view, brez nič dali smo samo povezavo na nov stil, ki smo ga prej naredili. ta stran index cshtml vpisujemo podatke za prikaz!! v moji predlogi pa samo klicemo!!! pazi na povezave imena sekcij!!!!!!-->
}

