################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VajaMVC/.vs
/.vs
/MVCNaprejKoda/.vs
/VajaNajprejBaza/.vs
/VajeRPAucilnica/.vs
